<!-- Config file for the game -->

<config>
  <app>
    <title>Hollow Faith v0.68</title>
    <organization>Juan Hernández and Aarón Guerrero</organization>
    <frameratecap value ="30"/>
  </app>

  <renderer>
    <vsync value="false"/>
    <camera_pos x="0" y="-10"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <objects>
    <graphics_player path="Assets/Sprites/Monster.png"/>
    <graphics_enemy path="Assets/Sprites/enemy.png"/>
    <graphics_bat path="Assets/Sprites/bat.png"/>

    <data>

      <StartPosLevel1 x="50" y="320"/>
      <StartPosLevel2 x="50" y="320"/>
      <texture x="0" y="0" w="17" h="27"/>
      <climbspeed value="1.0f"/>
      <speed x="0.0f" y="0.0f"/>
      <acceleration value="0.0f"/>
      <MovementForce x="-20.0f " y="-420.0f "/>
      <hover_acceleration value="-1300.0f"/>
      <hover_speed_activation value="-90.0f"/>
      <hover_fall_smooth value="6.0f"/>
      <speed_limit x=" 250.0f" y="420.0f"/>
      <gravity value="30.0f"/>
      <slowing_value value="10.0f"/>
      <slowing_limit value=" 200"/>

    </data>

    <fx>
      <jumpFx path="audio/fx/jump.wav"/>
      <deathFx path="audio/fx/death.wav"/>
      <win1Fx path="audio/fx/victory1.wav"/>
      <win2Fx path="audio/fx/victory2.wav"/>
      <landingFx path="audio/fx/landing.wav"/>
      <hoverFx path="audio/fx/hoversound.wav"/>
      <stoneFx path="audio/fx/stone.wav"/>
      
      <death_enemyFx path="audio/fx/death_enemy.wav"/>
    </fx>

    <animations>

      <animation name ="dustJumping">
        <sprite x ="8" y ="247" w ="13" h="5"/>
        <sprite x ="37" y ="249" w ="19" h="5"/>
        <sprite x ="68" y ="250" w ="21" h="5"/>
        <sprite x ="99" y ="252" w ="17" h="4"/>
        <sprite x ="131" y ="252" w ="23" h="4"/>

        <animValues loop="false" speed="0.4f"/>
      </animation>

      <animation name ="dustRunning">
        <sprite x ="225" y ="241" w ="17" h="14"/>
        <sprite x ="258" y ="245" w ="13" h="11"/>
        <sprite x ="289" y ="243" w ="18" h="13"/>
        <sprite x ="321" y ="240" w ="17" h="16"/>
        <sprite x ="352" y ="239" w ="17" h="17"/>
        <sprite x ="385" y ="243" w ="13" h="13"/>

        <animValues loop="false" speed="0.1f"/>
      </animation>

      <animation name ="stone">
        <sprite x ="72" y ="10" w ="14" h="14"/>
        <animValues loop="false" speed="0.4f"/>
      </animation>

      <animation name ="death">
        <sprite x ="290" y ="140" w ="25" h="19"/>
        <sprite x ="322" y ="149" w ="29" h="11"/>
        <sprite x ="352" y ="148" w ="35" h="12"/>
        <sprite x ="393" y ="147" w ="25" h="13"/>
        <sprite x ="425" y ="145" w ="25" h="15"/>
        <animValues loop="false" speed="0.15f"/>
      </animation>

      <animation name ="idleBat">
        <sprite x ="4" y ="2" w ="26" h="23"/>
        <sprite x ="36" y ="16" w ="19" h="14"/>
        <sprite x ="68" y ="16" w ="14" h="29"/>
        <sprite x ="99" y ="12" w ="18" h="13"/>
        <sprite x ="130" y ="7" w ="21" h="18"/>

        <animValues loop="true" speed="0.15f"/>
      </animation>
      
      <animation name ="idle">
        
      <sprite x ="7" y ="164" w ="17" h="28"/>
      <sprite x ="39" y ="164" w ="17" h="28"/>
      <sprite x ="70" y ="163" w ="18" h="29"/>
      <sprite x ="7" y ="164" w ="17" h="28"/>
        <animValues loop="true" speed="0.06f"/>

      </animation>

      <animation name ="idleLand">

        <sprite x ="3" y ="166" w ="21" h="26"/>
        <sprite x ="36" y ="165" w ="20" h="27"/>
        <sprite x ="67" y ="165" w ="21" h="27"/>
      
        <animValues loop="true" speed="0.06f"/>

      </animation>

      <animation name ="walkLand">

        <sprite x ="36" y ="38" w ="20" h="26"/>
        <sprite x ="68" y ="37" w ="20" h="27"/>
        <sprite x ="99" y ="39" w ="21" h="25"/>
        <sprite x ="131" y ="38" w ="21" h="26"/>
        <sprite x ="164" y ="37" w ="20" h="27"/>
        <animValues loop="true" speed="0.08f"/>

      </animation>
      
      <animation name ="walk">
        <sprite x ="7" y ="37" w ="17" h="27"/>
        <sprite x ="39" y ="36" w ="17" h="28"/>
        <sprite x ="71" y ="36" w ="17" h="28"/>
        <sprite x ="102" y ="37" w ="18" h="27"/>
        <sprite x ="135" y ="36" w ="17" h="28"/>
        <sprite x ="167" y ="36" w ="17" h="28"/>

        <animValues loop="true" speed="0.08f"/>
      </animation>

      <animation name ="jump">
        <sprite x ="231" y ="36" w ="17" h="28"/>
        <sprite x ="261" y ="38" w ="20" h="26"/>
        <sprite x ="292" y ="38" w ="22" h="26"/>
        <sprite x ="327" y ="34" w ="17" h="30"/>
        <sprite x ="358" y ="32" w ="18" h="29"/>
        <sprite x ="389" y ="34" w ="20" h="29"/>
        <sprite x ="420" y ="37" w ="22" h="27"/>
        <sprite x ="454" y ="38" w ="18" h="26"/>

        <animValues loop="true" speed="0.15f"/>
      </animation>

      <animation name ="death">
        <sprite x ="227" y ="131" w ="21" h="29"/>
        <sprite x ="259" y ="129" w ="22" h="29"/>
        <sprite x ="291" y ="139" w ="25" h="20"/>
        <sprite x ="322" y ="149" w ="29" h="29"/>
        <sprite x ="352" y ="148" w ="35" h="12"/>
        <sprite x ="393" y ="147" w ="25" h="13"/>
        <sprite x ="180" y ="120" w ="25" h="13"/>

        <animValues loop="false" speed="0.15f"/>
      </animation>

      <animation name ="climb">
        <sprite x ="5" y ="131" w ="19" h="29"/>
        <sprite x ="39" y ="131" w ="18" h="29"/>
        <sprite x ="69" y ="131" w ="20" h="29"/>
        <sprite x ="100" y ="131" w ="19" h="29"/>

        <animValues loop="true" speed="0.15f"/>
      </animation>
    </animations>


  </objects>
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <levels>
      <level name="level01.tmx"/>
      <level name="level02.tmx"/>
    </levels>
  </map>

  <enemies>


    <animations>
      <animation name ="fly">
        <sprite x ="3" y ="7" w ="21" h="25"/>
        <sprite x ="35" y ="6" w ="21" h="26"/>
        <sprite x ="68" y ="5" w ="20" h="27"/>
        <sprite x ="99" y ="7" w ="21" h="25"/>
        <sprite x ="132" y ="6" w ="20" h="26"/>
        <sprite x ="164" y ="5" w ="20" h="27"/>
        <animValues loop="true" speed="0.06f"/>
      </animation>
    </animations>

    <death_enemyFx path="audio/fx/death.wav"/>

  </enemies>


</config>