<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <camera_pos x="0" y="-10"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <levels>    
      <level name="level01.tmx"/>
      <level name="level02.tmx"/>     
    </levels>
  </map>

  <player>
    <jumpFx path="audio/fx/jump.wav"/>
    <deathFx path="audio/fx/death.wav"/>
  </player>

</config>